// Fontes 
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundo: #182C61;
$corPrincipal:#f5f6fa;
$corSecundaria:#44bd32;
$corfontesFuntoEscuro:#fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;