body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* cor de fundo padrão */
  }
  
  .background-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbra45M5_gxgjRC08kBLLqEM9tHad38hVwx68CfOJfF8HVId9TKPYSTqYVAwBkBLNPDz8&usqp=CAU'); /* substitua 'sua-imagem-de-fundo.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* fundo semi-transparente */
    padding: 20px;
    border-radius: 10px; /* bordas arredondadas */
    text-align: center;
  }
  
  .form-input {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: calc(100% - 16px); /* width ajustado para levar em conta o padding */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px; /* bordas arredondadas */
    border: 1px solid #ccc; /* adiciona uma borda para destacar o campo */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* bordas arredondadas */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #mensagem {
    font-weight: bold;
  }
  